.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg")
    no-repeat center center/cover;
}

.login-box {
  width: 350px;
  background: rgba(255, 255, 255, 0.92);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.login-box h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #444;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 8px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #ff5722;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.login-btn:hover {
  background: #e64a19;
}

.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #ff5722;
  font-weight: bold;
  text-decoration: none;
}
.signup-text a:hover {
  text-decoration: underline;
}