.menu-page {
  text-align: center;
  padding: 30px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

.menu-card {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.menu-card:hover {
  background: #ffe0b2;
  transform: translateY(-6px);
}

.menu-card span {
  font-weight: bold;
  color: #d84315;
}