.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 backdrop-filter: blur(10px);
  padding: 15px 30px;
  color: rgb(233, 24, 24);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 50px;
}

.nav-logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: rgb(230, 40, 15);
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffe0b2;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  background: rgb(13, 241, 165);
  height: 3px;
  width: 25px;
  margin: 4px 0;
  border-radius: 2px;
  transition: 0.3s;
}

/* Mobile View */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #ff7043;
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }
}