.recipes-page {
  padding: 20px;
  text-align: center;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.recipe-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  padding: 15px;
  transition: 0.3s;
}

.recipe-card:hover {
  transform: translateY(-5px);
}

.recipe-card img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}

.price {
  font-weight: bold;
  margin: 5px 0;
  color: #d84315;
}

.add-btn {
  background: #ff5722;
  padding: 8px 15px;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.add-btn:hover {
  background: #e64a19;
}
.recipe-card p {
color:#666;
margin-bottom: 10px;
}